.sprite {
    width: 400px;
    height: 200px;
    position: relative;
    margin: 50px auto 0 ;
    border: 1px solid black;
    background: #007acc;
}

.sprite::after {
    content:'';
    width: 46px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/cards.png);
    background-position: -46px 0;
}